.search-form {
    display: inline;
    width: 100px;
    height: 100%;
    @include media-breakpoint-down(sm) {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    input[type=text] {
        &:focus {
            outline: none;
        }

        height: 50%;

        @include media-breakpoint-down(sm) {
            margin-bottom: 5px;
        }
    }

    input[type=submit] {
        border: none;
        background-color: #fff;

        &:focus {
            outline: none;
        }

        &:hover {
            outline: none;

            &:not([disabled]) {
                font-weight: 700;
            }
        }

        @include media-breakpoint-down(sm) {
            width: 50%;
            padding: 5px 0;
        }
    }
}
