nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    min-height: 10vh;
    background-color: #fcd772;
    box-sizing: border-box;
    @include media-breakpoint-down(sm) {
        justify-content: center;
        flex-direction: column;
    }

    div {
        transition: 0.5s linear;
        @include media-breakpoint-down(sm) {
            &:first-child {
                margin-bottom: 15px;
            }
            &:empty {
                margin-bottom: 0;
            }
        }

        a {
            color: #2d2d2e;
            text-decoration: none;
            font-size: 28px;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            margin-left: 10px;
            margin-bottom: 10px;
            border-bottom: 3px solid #2d2d2e;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                transition: 0.3s;
                border-bottom-color: red;
                text-decoration: none;
                color: #2d2d2e;
            }
        }
    }
}
