nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fcd772;

    div {
        transition: 0.5s linear;

        a {
            color: #2d2d2e;
            text-decoration: none;
            font-size: 28px;
            font-weight: 500;
            font-family: 'Roboto', sans-serif;
            margin-left: 10px;
            margin-bottom: 10px;
            border-bottom: 3px solid #2d2d2e;

            &:first-child {
                margin-left: 0;
            }

            &:hover {
                transition: 0.3s;
                border-bottom-color: red;
                text-decoration: none;
                color: #2d2d2e;
            }
        }
    }
}
